
.body
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: medium;
}
.inpt
{
width:98%;
height:98%;
border:1px solid white;
}
.div
{
    position:absolute;
    top:10%;
    left:37%;
    box-sizing: border-box;
    border:3px solid gray;
    width:25%;
    height:73%;
}

.h2
{
    text-align:center;
    text-decoration: underline;
}
.table
{
   /* border:1px solid gray;*/
    width:80%;
    height:95%;
    padding:2%;

}
.select
{
    width:100%;
    height:100%;
    border:1px solid white;
}
.option
{
    width:100%;
    height:100%;
    border:1px solid white;
}

#flexx
{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:100%;
    
}
#sub
{

font-size:120%;   
padding:2%;
margin-top:5%;
color:white;
background-color: rgb(53, 53, 224);
}
#italic
{
color:gray;
font-style: italic; 
}
.valid
{
    color:red;
}
 #sub:hover
{
    background-color: black;
 /*   font-size: 125%;*/
    font-weight: bold;
    cursor: pointer;
    caret-color: blue;
}
